<%content_for :title do%>
	Termos de Uso
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "rating"%>
	<%=javascript_include_tag "rating"%>
	
<%end%>
<div id="Content_products">

<div id="Products">
        <p class="Bread_crumb"><%=link_to "home", root_path%></p>
        <h1 style=" vertical-align:middle; text-align:left;">Termos de Uso</h1>
        <img src="/images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:10px;" />
        <div class="Text_box">
        	
        	<p class="Content" style="text-align:left; font-size:12px;">
        		Todo o conteúdo deste site pertence à DAHLIA ROSA ACESSORIOS e está protegido pelas leis de copyright. O uso das informações, tais como imagens, textos exclusivos, entre outros conteúdos, é terminantemente proibido e havendo transgressão desta regra, o responsável deverá responder judicialmente.<br>

        	</p>
            <br />
        </div>
</div>

